* {
    font-family: 'Open Sans'
}

.navbar-nav li.nav-item {
    font-weight: bold;
}

.navbar {
    background-color: #003052;
}

body {
    background-color: #00538f;
    color: #ffffff;
    height: 100%;
}

.button {
    padding: 4px 16px;
    border: #002037 2px solid;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.15s;
}

.button:hover {
    opacity: 0.8;
}

.button-show {
    background-color: #004370;
    color: #fff;
}

.button-edit {
    background-color: #004370;
    color: #fff;
}

.button-delete {
    background-color: #004370;
    color: #fff;
}

.page-link {
    color: #001b2c;
}

.active>.page-link,
.page-link.active {
    background-color: #001b2c;
    border-color: #001b2c;
}

.pagination_div {
    display: flex;
    flex-direction: row-reverse;
}