* {
    font-family: 'Open Sans'
}

.navbar-nav li.nav-item {
    font-weight: bold;
}

.navbar {
    background-color: #003052;
}

body {
    background-color: #00538f;
    color: #ffffff;
    height: 100%;
}

.button {
    padding: 4px 16px;
    border: #002037 2px solid;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.15s;
}

.button-search {
    padding: 4px 4px;
    background-color: orange;
    border: #002037 2px solid;
    border-radius: 0 8px 8px 0;
    text-decoration: none;
    transition: 0.15s;
    margin-right: 0;
}

.button:hover,
.button-search:hover {
    opacity: 0.8;
}

.button-show {
    background-color: #004370;
    color: #fff;
}

.button-edit {
    background-color: #004370;
    color: #fff;
}

.button-delete {
    background-color: #004370;
    color: #fff;
}

.page-link {
    color: #001b2c;
}

.active>.page-link,
.page-link.active {
    background-color: #001b2c;
    border-color: #001b2c;
}

.pagination_div {
    display: flex;
    flex-direction: row-reverse;
}

.pagination {
    justify-content: center;
}

.blog-content img {
    width: auto;
}

.hover-seen:hover {
    cursor: pointer;
    filter: invert(6%) sepia(80%) saturate(5662%) hue-rotate(357deg) brightness(133%) contrast(109%);
}

@media (max-width: 767px) {
    .blog-content img {
        width: 100%;
    }

    .pagination {
        flex-wrap: wrap;
        justify-content: center;
    }
}